.sidebar{
  width: 15%;
  float:left;
  background-color: lightgrey;
}
.content{
  width: 85%;
  float: right;
}
.navbar{
  width:85%;
  float: right;
}
.container-fluid img{
  width: 150px;
  height: 50px;
}
.well .today{
  background-color: lightgreen;
}
.well .on{
  background-color: lightblue;

}
.well .picture{
  background-color: purple;
}
.painting{text-align: center;}
.pict{display: block; margin: auto;}
